<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.attilapalfi.exceptional" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.c2dm.permission.SEND" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="ANDROID.PERMISSION.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.attilapalfi.exceptional.permission.C2D_MESSAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name=".services.GcmBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.attilapalfi.exceptional" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.GcmMessageHandler"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.exception_sending.SendExceptionListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.exception_sending.FriendChooserActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.ShowNotificationActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="" >
        </activity>
        <activity
            android:name=".ui.OptionsActivity"
            android:label="@string/title_activity_options" >
        </activity>
        <activity
            android:name=".ui.main.friends_page.FriendDetailsActivity"
            android:label="@string/title_activity_friend_details" >
        </activity>
        <activity
            android:name=".ui.ExceptionHistoryActivity"
            android:label="@string/title_activity_exception_history" >
        </activity>
        <activity
            android:name=".ui.main.friends_page.exception_throwing.ExceptionTypeChooserActivity"
            android:label="@string/title_activity_exception_instance_chooser" >
        </activity>
    </application>

</manifest>
